@model SimaxCrm.Model.Entity.LeadAutoAssign

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Update</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label asp-for="UserId" class="control-label"></label>
                                <select style="height:35px" asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                                    <option value=""></option>
                                </select><span asp-validation-for="UserId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LeadSources" class="control-label"></label>
                                <input asp-for="LeadSources" class="control-label" type="hidden" />
                                <select class="multipleSelect form-control" multiple style="height:35px" id="LeadSourceMulti" name="LeadSourceMulti" asp-items="ViewBag.LeadSourceId">
                                </select><span asp-validation-for="LeadSources" class="text-danger"></span>
                            </div>


                            <div class="form-group"><label asp-for="HandleQuery" class="control-label"></label><input asp-for="HandleQuery" class="form-control" /><span asp-validation-for="HandleQuery" class="text-danger"></span></div>
                            <div class="form-group"><label asp-for="Status" class="control-label"></label><input asp-for="Status" /><span asp-validation-for="Status" class="text-danger"></span></div>

                            <div class="form-group">
                                <input type="submit" onclick="return processData()" value="Update" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            var sourceIds = '@string.Join(',', Model.LeadAutoAssignSourceMapping.Select(m=>m.LeadSourceId).Distinct().ToArray())';
            $.each(sourceIds.split(','), function (i, v) {
                $('#LeadSourceMulti option[value='+ v +']').attr('selected', 'selected');
            });
        });

        function processData() {
            var leadSources = helper.getFastSelectValue('LeadSourceMulti');
            $("#LeadSources").val(leadSources);
            return true;
        }
    </script>
}
